@page "/"
@inject IConfiguration Config

<PageTitle>Index</PageTitle>

<h1>Blazor Deploy Site Test TC</h1>


<p class="h4">
    Connection String:@connectionstring
</p>


<p>
    Update to Test Azure 
</p>



@code {
    private string connectionstring = "";

    protected override void OnInitialized()
    {
        connectionstring = Config.GetConnectionString("Default") ?? "unknown";

    }

}